*{
    margin: 0;
    color: white;
}
body{
background-color: black;
}
main{
    background: linear-gradient(black,rgb(46, 46, 46),black);

}   
    .titulo{
        margin: 3%;
    }
.imagenCont{
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5%;

}
    .imagen{
        height: 100%;
        width: 18%;
        border-radius: 4px;
        align-self: center;
    }
    .genero{
        height:fit-content;
        display: flex;
        margin-top: 1%;
        border: 3px solid darkblue;
        padding: 0.5%;
        background-color: rgb(119, 119, 119);
        border-radius: 15px;
        color: black;
    }
    header {
 
        background-image: url("https://img.freepik.com/foto-gratis/tecnologias-resumen-espacio-poligonal-poli-oscuro-fondo-oscuro-puntos-lineas-conexion-estructura-conexion-fondo-poligonal-futurista-fondo-pantalla-negocios-triangular_38076-1954.jpg");
        font-family:fantasy;
    }
    
    header .contenedor {
        display: flex;
        justify-content: center;
        margin-right: 30px;
        margin-left: 30px;
        padding: 10px;
      
    }
    
    
    header nav a {
        color: #AAA;
        margin-right: 20px;
        margin: 20px;
        
    }    